{% extends 'voter/base.html' %}
{% load static%}
{% block scripts %}
<script type='text/javascript'>
    	var global = 0;
        function addField(){
            var container = document.getElementById("container");
            container.appendChild(document.createElement("br"));
            container.appendChild(document.createTextNode("Option "));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "option";
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
            global++;
        }
        function validate(){
            var isValid;
                $("input").each(function() {
                    var element = $(this);
                        if (element.val() == "") {
                            isValid = false;
                        }
                });
            if(isValid==false){
                alert("There are some empty fields!");
            }
            return isValid;
        }
</script>
<link rel="stylesheet" href="{% static 'voter/main_styles.css' %}">
{% endblock %}
{% block content %}
<button class="button" type="button" onclick="addField()">Add option</button>
    <form id="container" action="" method="POST" onsubmit="return validate()">
        {% csrf_token %}
    <input class="button" type="submit" value="Submit">
    </form>
{% endblock %}