<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote creator</title>
    <script type='text/javascript'>
    	var global = 0;
        function addField(){
            var container = document.getElementById("container");
            container.appendChild(document.createElement("br"));
            container.appendChild(document.createTextNode("Option " + global));
            var input = document.createElement("input");
            input.type = "text";
            input.name = "member" + global;
            container.appendChild(input);
            global++;
        }
    </script>
</head>
<body>
<button type="button" onclick="addField()">Add option</button>
    <form id="container" action="{% url 'add' %}" method="POST">
        {% csrf_token %}
    <legend>Add your options</legend>
    <input type="submit" value="Submit">
    </form>
</body>
</html>