<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>VOTING ID : {{voting.id}}</h1>
<form action="" method="post">{% csrf_token %}
<fieldset>
    <legend>Vote correctly</legend>
    {% for option in voting.get_options %}
    <div>
        <input type="radio" id={{forloop.counter0}}
               value={{forloop.counter0}} name="option"/>
        <label for={{ forloop.counter0 }} >{{ option }}</label>
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</fieldset>
</form>
</body>
</html>