<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>login</button>
      <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
    </form>
  </div>
</div>
{% endblock %}
</body>
</html>